.dashboard-container{
    width:100%;
}

.dashboard-content{
    padding:20px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:20px;
}

mat-card{
    padding:20px;
}